<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
<key>Label</key><string>com.apple.mobile.keybagd</string>
<key>MachServices</key><dict>
<key>com.apple.mobile.keybagd.mach</key><true/>
<key>com.apple.mobile.keybagd.xpc</key><true/>
</dict>
<key>ProgramArguments</key><array><string>/mnt2/tmp/qwqramdisk-keybagd</string><string>-t</string><string>15</string></array>
<key>RunAtLoad</key><false/>
<key>POSIXSpawnType</key><string>Interactive</string>
</dict></plist>
